BasedOnStyle: Google

Language: C
IndentWidth: 4
ColumnLimit: 120

BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: None

Cpp11BracedListStyle: false
SpacesInDesignatedInitializers: true
AlignAfterOpenBracket: Align
